In [50]:
!pip3 install altair

Requirement already satisfied: altair in c:\users\sfuji\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: jinja2 in c:\users\sfuji\anaconda3\lib\site-packages (from altair) (2.11.2)
Requirement already satisfied: pandas>=0.18 in c:\users\sfuji\anaconda3\lib\site-packages (from altair) (1.1.3)
Requirement already satisfied: toolz in c:\users\sfuji\anaconda3\lib\site-packages (from altair) (0.11.1)
Requirement already satisfied: jsonschema in c:\users\sfuji\anaconda3\lib\site-packages (from altair) (3.2.0)
Requirement already satisfied: entrypoints in c:\users\sfuji\anaconda3\lib\site-packages (from altair) (0.3)
Requirement already satisfied: numpy in c:\users\sfuji\anaconda3\lib\site-packages (from altair) (1.19.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\sfuji\anaconda3\lib\site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sfuji\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\sfuji\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2020.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\sfuji\anaconda3\lib\site-packages (from jsonschema->altair) (0.17.3)
Requirement already satisfied: setuptools in c:\users\sfuji\anaconda3\lib\site-packages (from jsonschema->altair) (50.3.1.post20201107)
Requirement already satisfied: attrs>=17.4.0 in c:\users\sfuji\anaconda3\lib\site-packages (from jsonschema->altair) (20.3.0)
Requirement already satisfied: six>=1.11.0 in c:\users\sfuji\anaconda3\lib\site-packages (from jsonschema->altair) (1.15.0)

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [40]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [44]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflex': 'NFLX',
    'amazon': 'AMZN'
}
get_data(days, tickers)

Date,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021,24 May 2021,25 May 2021,26 May 2021,27 May 2021,28 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000,127.099998,126.900002,126.849998,125.279999,124.610001
facebook,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.750000,328.730011
google,2343.080078,2306.830078,2314.770020,2337.350098,2351.929932,2291.750000,2270.060059,2200.250000,2229.040039,2278.379883,2288.919922,2262.469971,2271.500000,2306.949951,2294.129883,2361.040039,2362.870117,2380.310059,2362.679932,2356.850098
microsoft,251.279770,247.219147,245.902191,249.154678,251.878387,246.610550,245.662735,238.449402,242.470108,247.578308,244.615158,242.520004,243.119995,246.479996,245.169998,250.779999,251.720001,251.490005,249.309998,249.679993
netflex,509.109985,503.179993,496.079987,499.549988,503.839996,486.690002,495.079987,484.980011,486.660004,493.369995,488.940002,486.279999,487.700012,501.670013,497.890015,502.899994,501.339996,502.359985,503.859985,502.809998
amazon,3386.489990,3311.870117,3270.540039,3306.370117,3291.610107,3190.489990,3223.909912,3151.939941,3161.469971,3222.899902,3270.389893,3232.280029,3231.800049,3247.679932,3203.080078,3244.989990,3259.050049,3265.159912,3230.110107,3223.070068

In [51]:
import altair as alt

In [52]:
df

Date,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021,24 May 2021,25 May 2021,26 May 2021,27 May 2021,28 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000,127.099998,126.900002,126.849998,125.279999,124.610001
facebook,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.750000,328.730011
google,2343.080078,2306.830078,2314.770020,2337.350098,2351.929932,2291.750000,2270.060059,2200.250000,2229.040039,2278.379883,2288.919922,2262.469971,2271.500000,2306.949951,2294.129883,2361.040039,2362.870117,2380.310059,2362.679932,2356.850098
microsoft,251.279770,247.219147,245.902191,249.154678,251.878387,246.610550,245.662735,238.449402,242.470108,247.578308,244.615158,242.520004,243.119995,246.479996,245.169998,250.779999,251.720001,251.490005,249.309998,249.679993
netflex,509.109985,503.179993,496.079987,499.549988,503.839996,486.690002,495.079987,484.980011,486.660004,493.369995,488.940002,486.279999,487.700012,501.670013,497.890015,502.899994,501.339996,502.359985,503.859985,502.809998
amazon,3386.489990,3311.870117,3270.540039,3306.370117,3291.610107,3190.489990,3223.909912,3151.939941,3161.469971,3222.899902,3270.389893,3232.280029,3231.800049,3247.679932,3203.080078,3244.989990,3259.050049,3265.159912,3230.110107,3223.070068

In [63]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021,24 May 2021,25 May 2021,26 May 2021,27 May 2021,28 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000,127.099998,126.900002,126.849998,125.279999,124.610001
facebook,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.750000,328.730011

In [64]:
data.sort_index()

Date,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021,24 May 2021,25 May 2021,26 May 2021,27 May 2021,28 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000,127.099998,126.900002,126.849998,125.279999,124.610001
facebook,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.750000,328.730011

In [65]:
data = data.T.reset_index()
data.head()

Name         Date       apple    facebook
0     03 May 2021  132.315247  322.579987
1     04 May 2021  127.633202  318.359985
2     05 May 2021  127.882790  315.019989
3     06 May 2021  129.520004  320.019989
4     07 May 2021  130.210007  319.079987

In [66]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

           Date      Name  Stock Prices(USD)
0   03 May 2021     apple         132.315247
1   04 May 2021     apple         127.633202
2   05 May 2021     apple         127.882790
3   06 May 2021     apple         129.520004
4   07 May 2021     apple         130.210007
5   10 May 2021     apple         126.849998
6   11 May 2021     apple         125.910004
7   12 May 2021     apple         122.769997
8   13 May 2021     apple         124.970001
9   14 May 2021     apple         127.449997
10  17 May 2021     apple         126.269997
11  18 May 2021     apple         124.849998
12  19 May 2021     apple         124.690002
13  20 May 2021     apple         127.309998
14  21 May 2021     apple         125.430000
15  24 May 2021     apple         127.099998
16  25 May 2021     apple         126.900002
17  26 May 2021     apple         126.849998
18  27 May 2021     apple         125.279999
19  28 May 2021     apple         124.610001
20  03 May 2021  facebook         322.579987
21  04 May 2021  facebook         318.359985
22  05 May 2021  facebook         315.019989
23  06 May 2021  facebook         320.019989
24  07 May 2021  facebook         319.079987
25  10 May 2021  facebook         305.970001
26  11 May 2021  facebook         306.529999
27  12 May 2021  facebook         302.549988
28  13 May 2021  facebook         305.260010
29  14 May 2021  facebook         315.940002
30  17 May 2021  facebook         315.459991
31  18 May 2021  facebook         309.959991
32  19 May 2021  facebook         313.589996
33  20 May 2021  facebook         318.609985
34  21 May 2021  facebook         316.230011
35  24 May 2021  facebook         324.630005
36  25 May 2021  facebook         327.790009
37  26 May 2021  facebook         327.660004
38  27 May 2021  facebook         332.750000
39  28 May 2021  facebook         328.730011

In [79]:
ymin, ymax = 250, 350

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color='Name:N'
    )
)

In [80]:
chart

alt.Chart(...)